body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
}